<div class="row m-0">
  <div class="col-12">
    <div class="topSec">
      <div>
        <img class="logo" src="../../assets/img/logo.png" alt="Logo">
        <div class="wl-txt">Welcome To</div>
        <div class="wl-t-ybp">Yes Bank Puls</div>
      </div>
    </div>
    <div class="bottomSec">
      <div class="login-wrpr">
        <div class="login-ttl">Login</div>
        <form [formGroup]="cardForm" *ngIf="!mobileSecDisp">
          <mat-form-field class="form-group example-full-width">
            <mat-label>Card Type</mat-label>
            <mat-select name="cardType" formControlName="cardType">
              <mat-option [value]="item" *ngFor="let item of cardTypeList">{{item}}</mat-option>
              <div *ngIf="cardForm.get('cardType').invalid && (cardForm.get('cardType').dirty || cardForm.get('cardType').touched)">
                <mat-error *ngIf="cardForm.get('cardType').errors.required">This field is required.</mat-error>
              </div>
            </mat-select>
          </mat-form-field>
          <div class="text-center">
            <button type="button" class="btn btn-primary my-4" [disabled]="cardForm.invalid" (click)="next()">Next
              <span class="fa fa-arrow-right"></span>
            </button>
          </div>
        </form>
        <form [formGroup]="mobileForm" [hidden]="!mobileSecDisp">
          <mat-form-field class="form-group example-full-width mb-0">
            <mat-label>Mobile No.</mat-label>
            <input matInput type="text" class="form-control" placeholder="Mobile" name="mobile" formControlName="mobile">
            <div *ngIf="mobileForm.get('mobile').invalid && (mobileForm.get('mobile').dirty || mobileForm.get('mobile').touched)">
              <mat-error *ngIf="mobileForm.get('mobile').errors.required">This field is required.</mat-error>
              <mat-error *ngIf="mobileForm.get('mobile').errors.maxlength">This field cannot be longer than 10 characters.</mat-error>
            </div>
          </mat-form-field>
          <div class="text-center">
            <button mat-stroked-button color="accent" class="my-4" [disabled]="mobileForm.invalid" (click)="submit()">Get OTP</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
