.user-image{
  float: right;
  height: 110px;
  width: 110px;
  background: darkcyan;
  border-radius: 52px
}
#myUserLabel{color: #fff;}
.cardBg{
  background-image: url(./../../assets/img/Gift_Card.png);
  background-color: #cccccc;
  height: 225px;
  width: 385px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}
.clearfix:before,.clearfix:after{content: '';display: table;}
.clearfix:after{clear: both;}
.pull-left{float: left;}
.pull-right{float: right;}
.txnSec-wrpr-content {
  max-width: 430px;
  width: 100%;
  margin: 0 auto;
}

.txnSec-inner {
  position: relative;
  padding: 10px 0 10px 85px;
  min-height: 69px;
}
.txnSec-inner+.txnSec-inner{margin-top: 20px;}
.txnSec-img {
  position: absolute;
  left: 0;
  top: 0;
}
.txnSec-bdr{
  border: 1px solid #b2aeae;
  border-radius: 10px;
  padding: 15px;;
  margin-bottom: 10px;
}

.from-ttl, .tran-dt {
  margin-top: 10px;
}
.from-ttl {
  font-size: 18px;
}
.cd-name{color: #fff;padding-bottom: 20px;font-size: 20px;color: #fff;position: relative;margin: 20px 0 35px;}
.txnSec-wrpr {
  background-color: #fff;
  padding: 30px 30px 0;
  border-radius: 35px 35px 0 0;
  margin-bottom: 60px;
}
.cd-name:before{content: '';position: absolute;width: 40px;height: 3px;left: 0;right: 0;bottom: 0;background-color: #6ca9c9;margin: 0 auto;}
.card-info{font-size: 16px;color: #fff;}
.cardNumber{
  font-size: 20px;
  padding-top: 70px;
  color: #fff;
  letter-spacing: 6px;
  margin-bottom: 0px;
}
.expDate{
  font-size: 20px;
  color: #fff;
  letter-spacing: 6px;
  margin-bottom: 0px;
}
.cardUserName{
  font-size: 20px;
  color: #fff;
  letter-spacing: 6px;
  margin-bottom: 0px;
}
.manageSec{
  color: #b0b01c;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.manageSec span{
  cursor: pointer;
}
.downloadIcon{
  float: right;
  color: #2727e7;
  cursor: pointer;
}
.balanceSec{
  margin: 20px auto;
  background: #e3e3e3;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 18px;
}
.balanceAmt{
  float: right;
  color: #0db40d;
}
.cardBg{
  background-image: url(./../../assets/img/Gift_Card.png);
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  float: left;
  margin-bottom: 30px !important;
}
.cardBg:nth-child(2n) {
  margin-left: 44px !important;
}
.text-more{
  color: red;
  font-size: 17px;
}

.footer {
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fff;
  bottom: 0;
  text-align: center;
  padding: 10px 0;
  z-index: 2;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.35)
}

.footer .foot-link {
  display: inline-block;
  cursor: pointer;
}

.footer .foot-link+.foot-link {
  margin-left: 30px;
}
.devideSec{
  border-left: 2px solid red;
}
.menu-title {
  font-size: 18px;
  color: red;
  margin-top: 5px;
  min-width: 50p;
  padding: 10px 25px;
}
.hm-tb-wrpr .col-12{padding: 0;}
@media (max-width: 767px){
  .cardBg{float: none;}
  .cardBg:nth-child(2n) {
    margin-left: 0 !important;
  }

  .menu-title {
    font-size: 15px;
  }
  .txnSec-wrpr{
    padding: 20px 15px 0;
  }
}
@media(max-width: 575px) {
  .txnSec-bdr{
    border: 1px solid #b2aeae;
    border-radius: 10px;
    padding: 10px;;
  }
  .text-more{
    font-size: 16px;
  }
  .from-ttl {
    font-size: 18px !important;
    color:  #000;
  }
  .tran-dt {
    font-size: 16px;
    color:  rgb(163, 162, 162);
  }
}
@media(max-width: 359px) {
  .cardBg {
      height: 170px;
      width: 280px;
  }
  .cardNumber {
    font-size: 14px;
    padding-top: 70px;
    color: #fff;
  }
  .expDate {
    color: #fff;
    font-size: 12px;
  }
  .cardUserName {
    color: #fff;
    letter-spacing: 6px;
    margin-bottom: 0px;
    font-size: 12px;
  }
  .txnSec-wrpr{
    padding: 20px 15px 0;
  }
  .from-ttl {
    font-size: 18px;
    color: #000;
  }
  .tran-dt {
    font-size: 16px;
    color: rgb(163, 162, 162);
  }
}

