<div>
  <div class="container-fluid mt-5">
    <div class="card jh-card p-2 pb-4 mt-3">
      <h2>
          <span>Gift Cards</span>
      </h2>
      <div class="table-responsive">
          <table class="table table-striped">
              <thead>
              <tr>
                  <th><span>ID</span></th>
                  <th><span>Name</span></th>
                  <th><span>Mobile</span></th>
                  <th><span>Load Amount</span></th>
                  <th><span>Remaining Amt</span></th>
                  <th><span>status</span></th>
                  <th><span>Created At</span></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let card of giftCards.transactions">
                  <td>{{card.id}}</td>
                  <td>{{card.name}}</td>
                  <td>{{card.mobile}}</td>
                  <td>{{card.loadAmt}}</td>
                  <td>{{card.remainingAmt}}</td>
                  <td>{{card.status}}</td>
                  <td>{{card.createdAt}}</td>
              </tr>
              </tbody>
          </table>
      </div>
    </div>
  </div>

</div>
